:root {
    --purple-bg: #290742;
    --dark-bg: #170027;
    --button-bg: #9E6DC2;
    --white: #fff;
    --light-purple: #FBf6FF;
    --green: #4FFF4B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}