@import url(https://fonts.googleapis.com/css?family=Poppins:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

body {
    font-family: 'Roboto', 'Poppins', sans-serif;
}

header {
    background-color: var(--purple-bg);
    padding: 44px 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-content ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.navbar-content li {
    color: #FFFFFF;
    padding: 0 21px;
    font-size: 18px;
}

.navbar-input__search input {
    background-color: var(--dark-bg);
    color: #FFFFFF;
    font-size: 14px;
    padding-left: 16px;
    height: 44px;
    width: 300px;
}

.navbar-input__search {
    background-color: var(--button-bg);
    width: 370px;
}

.navbar-input__search img {
    padding-left: 15px;
}